@{
    Layout = "_Layout1";
}

@{
    ViewData["Title"] = "Home Page";
}

<html id="homepage">
    <head>
        <title>XIAOHAN's Library</title>
    <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="text-center">
        <h1 class="display-4">Dear Admin! Welcome to XIAOHAN's Library!!!</h1>

        <br>

</div>
    </body>
</html>

