@{
    Layout = "_Layout2";
}
@{
    ViewData["Title"] = "Home Page";
}

<html id="homepage">
<head>
        <title>XIAOHAN's Library</title>
    <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="text-center">
        <h1 class="display-4">Dear User! Welcome to XIAOHAN's Library!!!</h1>
        @if (TempData["deleteacc"] != null)
        {
             <br />
         <div class="row mb-3">
                 <div width="100%">
                     <div class='alert alert-success alert-dismissible fade show' role="alert">
                        <strong>@TempData["deleteacc"]</strong>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                     </div>
                 </div>
             </div>
        }
</div>
    </body>
</html>
